<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Burger List</h2>
      <ul class="list-group">
        {{#each burger}}
        <li class="list-group-item list-group-item-warning">
          <span>
            {{this.id}}. {{this.burger_name}}
            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="id" value="{{this.id}}">
              <button type="submit">Eat</button>
            </form>
          </span>
        </li>
        {{/each}}
      </ul>
    </div><!--column-->
  </div><!-- /row -->

  <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <h3>Add a burger</h3>
                    <form method="POST" action="/" class="button">
                      <textarea class="form-control" rows="3" type="text" name="burger"></textarea>

                      <button type="submit">Save burger!</button>

                    </form>
           </div>
  </div>
</div><!-- /container -->
